// Your application styles go here
@import "compass";
.slider {
height: 100%;
}
.slider-slide {
	padding: 80px 50px 0px 50px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
		.logo {
			margin: 30px auto;
			width: 100px;
			height: 100px;
			@include background-image(linear-gradient(white, #aaaaaa));
			@include border-radius(6px);
		}
		.list {
			font-size: 14px;
		}
		.list ul {
			margin-top: 30px;
		}
		.list ul li {
			text-align: left;
			list-style-type: circle;
			margin-left: 5px;
		}
		.box-white{
			display: block;
			position: relative;
			max-width: 800px;
			p,h1,h2,h3,h4{
			 	color:black;
			}
			color: black;
			@include box-shadow(2px 2px 4px gray);
			padding: 4px 10px;
			margin: 30px auto;
			@include background-image(linear-gradient(#cccecc,#fff));
			@include border-radius(6px);
		}
		.box-dark{
			p,h1,h2,h3,h4{
				color:white;
			}
			color: white;
			margin: 30px 50px;
			@include background-image(linear-gradient(#333a33,#666b66));
			@include border-radius(6px);
		}
}
.event{
	min-height: 100px;
	.banner{
		text-align: center;
	}
	.headline{
		display:inline-block;
	}
	.image{
		display:inline-block;
		width: 50px;
		height: 50px;
	}
	.title{
		font-size: 18px;
	}
	.sub-title{
		font-size: 14px;
	}
	.context{
		position: absolute;
		font-size: 12px;
		bottom: 4px;
		right: 10px;
		color: gray;
		text-align: right;
	}
	.parameters{
		text-align: left;
		font-size: 12px;
		color: gray;
		position: absolute;
		left: 10px;
		bottom: 4px;
	}
}
.sliding-background{
	z-index:0;
	position: absolute;
	top: -100%;
	left: -80%;
	width: 200%;
	height: 2000px;
	@include rotate(45deg);
	background-image: image-url('ohio-state-background.gif');
	background-repeat: repeat;
}
.fade-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  background-color: #000;
}
