// Your application styles go here
@import "compass";

/**** Variables ******/
$defaultVoteColor:gray;


.slider {
	height: 100%;
}
.intro-slide{
	padding: 80px 50px 0px 50px;
	text-align: center;
		.logo {
			overflow:hidden;
			margin: 30px auto;
			width: 100px;
			height: 100px;
			@include background-image(linear-gradient(white, #aaaaaa));
			@include border-radius(6px);
			@include box-shadow(4px 4px 4px gray);
		}
		.list {
			font-size: 14px;
		}
		.list ul {
			margin-top: 30px;
		}
		.list ul li {
			text-align: left;
			list-style-type: circle;
			margin-left: 5px;
		}
		.box-white{
			font-size: 20px;
			font-weight: 300;
			display: block;
			position: relative;
			max-width: 800px;
			p,h1,h2,h3,h4{
			 	color:black;
			}
			color: black;
			@include box-shadow(2px 2px 4px gray);
			padding: 4px 10px;
			margin: 30px auto;
			background-color: #fff;
			@include background-image(linear-gradient(#cccecc,#fff));
			@include border-radius(6px);
		}
		.box-dark{
			p,h1,h2,h3,h4{
				color:white;
			}
			color: white;
			margin: 30px 50px;
			@include background-image(linear-gradient(#333a33,#666b66));
			@include border-radius(6px);
		}
}
.survey-slide{
	padding: 60px 20px 0px 20px;
	.comment-area{
		min-height: 50px;
		border: solid 1px black;
		border-radius:4px;
	}
}
.prompt{
	text-align:left;
}
.question{
	text-align:left;
}
.event{
	min-height: 100px;
	.banner{
		text-align: center;
	}
	.headline{
		display:inline-block;
	}
	.image{
		display:inline-block;
		width: 50px;
		height: 50px;
	}
	.title{
		font-size: 18px;
	}
	.sub-title{
		font-size: 14px;
	}
	.context{
		position: absolute;
		font-size: 12px;
		bottom: 4px;
		right: 10px;
		color: gray;
		text-align: right;
	}
	.parameters{
		text-align: left;
		font-size: 12px;
		color: gray;
		position: absolute;
		left: 10px;
		bottom: 4px;
	}
}
.sliding-background{
	z-index:0;
	position: absolute;
	top: -120%;
	left: -80%;
	width: 250%;
	height: 2000px;
	@include rotate(45deg);
	background-image: image-url('ohio-state-background.gif');
	background-repeat: repeat;
}
.fade-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  background-color: #000;
}
.votes{
	color:gray;
	font-size:12px;
}

.filters-bar{
	padding: 0px 6px;
	input[type="radio"] {
    	display:none;
	}
	label {
	    text-align:center;
		padding: 4px 4px 6px 4px;
		display:inline-block;
	    margin:-2px;
	    height: 100%;
	    border-radius: 6px;
	    background-color:#ddd;
	    padding:4px 11px;
	    font-family:Arial;
	    font-size:16px;
	}
	input[type="radio"]:checked + label { 
	    background-color:#bbb;
	}
}
.filter-toggle{
	display: inline-block;
}
.collection-items{
	left:0;
	right:0;
}

/*******Transitions************/
/*vote down sequence*/
.change {
    color: red;
}
.change-add,.change-remove {
  color: $defaultVoteColor;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-add-active {
  color: red;
}
.change-remove {
    color: red;
}
.change-remove-active {
  color: $defaultVoteColor;
}
/*vote up sequence */
.change-up {
    color: green;
}
.change-up-add,.change-up-remove {
  color: $defaultVoteColor;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-up-add-active {
  color: green;
}
.change-up-remove {
    color: green;
}
.change-up-remove-active {
  color: $defaultVoteColor;
}
