<ion-view title="">
  <div sliding-background currentStateIs="true"></div>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
        ng-click="startApp()" ng-if="!slideIndex">
        Skip Intro
      </button>
      <button class="button button-positive button-clear no-animation"
        ng-click="previous()" ng-if="slideIndex > 0">
        Previous Slide
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"> 
      <button class="button button-positive button-clear no-animation"
        ng-click="next()" ng-if="slideIndex != 3">
        Next
      </button>
      <button class="button button-positive button-clear no-animation"
        ng-click="startApp()" ng-if="slideIndex == 3">
        Start using MyApp
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <!-- first slide -->
    <ion-slide class="intro-slide">
      <div class="box-white">
        <h3>Thank you for choosing BulletFeed!</h3>
      </div>
      <div class="logo">
        <img width="100%" src="img/bulletLogoOrange.svg"></img>
      </div>
      <div class="box-white">
        <p>
          Gameday messaging. Instant stats.
        </p>
        <p>
          Talk to everyone within 2 miles
        </p>
        <p>
          Perfect for event coordination
        </p>
      </div>
    </ion-slide>

    <!-- second slide -->
    <ion-slide class="intro-slide">
      <div class="box-white">
        <h3>Disclaimer!</h3>
      </div>
      
      <div class="list box-white">
        <h4>Pre-alpha: 1 week Old</h4>
        <ul>
          <li>This is a demo app, so we're limited in data usage</li>
          <li>Only 50 people may be connected at a time simultaneously</li>
          <li>I've only had one week since starting the app, be gentle</li>
          <li>Please no bad language</li>
        </ul>
      </div>
    </ion-slide>
    <ion-slide class="intro-slide">
      <div class="box-white">
        <p><span style="font-weight:bold">Before:</span> For full-screen view, add this site to your homescreen!
          <i style="color:blue" class="icon ion-ios7-upload-outline"></i>
        </p>
        <p>
          <span style="font-weight:bold">After:</span>
          Fill out a survey in the menu to give your thoughts
        </p>
      </div>
    </ion-slide>
    <!-- third slide -->
    <ion-slide class="intro-slide">
      <div class="box-white">
        <h3>Contact Information</h3>
        <p>
          <a href="mailto:gruenbacher.1@osu.edu?Subject=BulletApp" data-rel="external">gruenbacher.1@osu.edu</a>
        </p>
      </div>
      <div ng-click="startApp()" class="button button-assertive">Go to App!</div>
    </ion-slide>
  </ion-slide-box>
</ion-view>