<ion-view title="">
  <div sliding-background></div>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
        ng-click="startApp()" ng-if="!slideIndex">
        Skip Intro
      </button>
      <button class="button button-positive button-clear no-animation"
        ng-click="previous()" ng-if="slideIndex > 0">
        Previous Slide
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"> 
      <button class="button button-positive button-clear no-animation"
        ng-click="next()" ng-if="slideIndex != 3">
        Next
      </button>
      <button class="button button-positive button-clear no-animation"
        ng-click="startApp()" ng-if="slideIndex == 3">
        Start using MyApp
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <!-- first slide -->
    <ion-slide>
      <div class="box-white">
        <h3>Thank you for choosing BulletFeed!</h3>
      </div>
      <div class="logo"></div>
      <div class="box-white">
        <p>
          Gameday messaging. Instant stats.
        </p>
        <p>
          Talk to everyone within a mile
        </p>
      </div>
    </ion-slide>

    <!-- second slide -->
    <ion-slide>
      <div class="box-white">
        <h3>Using BulletFeed</h3>
      </div>
      
      <div class="list box-white">
        <h5>Stuff to follow</h5>
        <ul>
          <li>This is a demo app, so we're limited in data usage</li>
          <li>Only 50 people may be connected at a time, surplus connections will be shut off</li>
          <li>Login or be anonymous</li>
          <li>No crass language</li>
          <li>Save to homescreen for future use</li>
        </ul>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box-white">
        <h1>For best experience, add this site to your homescreen!</h1>
      </div>
    </ion-slide>
    <!-- third slide -->
    <ion-slide>
      <div class="box-white">
        <h3>Contact Information</h3>
        <p>
          <a href="mailto:gruenbacher.1@osu.edu?Subject=BulletApp" data-rel="external">gruenbacher.1@osu.edu</a>
        </p>
      </div>
      <div ng-click="startApp()" class="button button-assertive">Go to App!</div>
    </ion-slide>
  </ion-slide-box>
</ion-view>