<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-controller="LoginCtrl">
      <form>
        <label class="item item-input">
          <span>email: </span>
          <input type="text" ng-model="email" autocomplete="off"/>
        </label>
        <label class="item item-input">
          <span>password: </span>
          <input type="password" ng-model="pass" autocomplete="off"/>
        </label>
        <label class="item item-input" ng-cloak ng-show="createMode">
          <span>confirm pass: </span>
          <input type="password" ng-model="confirm" autocomplete="off"/>
        </label>
        <button class="button button-block" ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
        <button class="button button-block" ng-click="createMode = true" ng-hide="createMode">Create Account</button>
        <button class="button button-block" ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Register</button>
        <button class="button button-block" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
        <p ng-show="err" class="error">{{err}}</p>
      </form>
    </div>
  </ion-content>
</div>
